body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2edbdf;
}
.calculadora {
  background-color: #2edbdf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 450px;
  max-height: 1800px;
  box-shadow: 1px 1px 10px 1px;
  border-radius: 10px;
}

.display {
  height: 150px;
  width: 400px;
  margin: 16px;
  padding: 8px;
  background-color: #58aef7;
  box-shadow: 1px 1px 5px 1px #f5eddd;
  user-select: none;
  border-radius: 10px;
}

.valor-anterior {
  height: 40%;
  color: #b80068;
  text-align: right;
  font-size: 3rem;

}

.valor-actual {
  height: 60%;
  max-width: 390px;
  color: #b80068;
  font-size: 4rem;
  text-align: right;
}


.botones {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-columns: repeat(4,75px); */
  /* grid-template-rows: repeat(5, 75px); */
  margin: 10px;
  /* border-radius: 32px; */
  
  
}

.button {
  height: 80px;
  width: 80px;
  font-size: 2.5rem;
  padding: 0px;
  margin: 10px;
  border-radius: 32px;
  border: none;
  color: #b80068;
  cursor: pointer;
  /* box-shadow: .5px 1px 1px .5px; */
  background-color: #0100f3;
  
}
.clear {
  grid-column: span 2;
  border-radius: 32px;
  width: 180px;
  
}

.button:active {
  background: #2e1967;
  color: #66b344 ;
}

.C {
  color: #fe753b;
}

.operadores, .clear, .borrar, .porcentaje {
  color: #ffb2df;
}

#igual  {
  background: #b80068;
  color: #0100f3;
}
#igual:active {
  background: #fff;
  color: #a8572a;
}